/* -----------------------------------------------reseteo */

* {
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------- Index */

/* header con flexbox */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background-color: black;
}

/*----------------------------------- fuentes para los h1, h2 y parrafos */

h1 {
    display: inline;
    padding: 0 30px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;
    color: whitesmoke;
}

.h1Style {
    display: inline;
    padding: 0 30px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;
    color: whitesmoke;
    margin-bottom: -2px;
    font-weight: 900;
    font-size: 35px;
    line-height: 0;
}

h2 {
    text-align: center;
    font-weight: 100;
    margin: 25px 0;
    font-family: 'Bebas Neue', cursive;
}

h3 {
    margin: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: small;
}

p {
    font-family: 'Mukta', sans-serif;
}

/*---------------------- ----hacer inline la lista y separar los items con margin */

nav ul {
    display: inline;
    margin-left: 30px;
}

nav ul li {
    margin: 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: small;
}

/* --------------------------Quitarle los bullets a la lista del menu de navegacion */

ul li {
    display: inline;
    list-style-type: none;
}

/*------------------------------------ sacarle subrayado a los anchors */

ul li a {
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 1px;
}

/* ---------------------------cambiar de color al pasar el cursor sobre los links */

ul li a:hover {
    color: grey
}

/* imagen de portada */

#imgPortada {
    width: 100%;
}

/* -----------------------------------------grilla index divPrincipal */

#mainProductos {
    background-color: #ccc;
}

#divPrincipal {
    display: grid;
    grid-template-areas:
        "article1 article2 article3"
        "article4 article5 article6"
        "bigCard bigCard bigCard"
        "form form form"
        "footer footer footer";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

#arti1 {
    grid-area: article1;
}

#arti2 {
    grid-area: article2;
}

#arti3 {
    grid-area: article3;
}

#arti4 {
    grid-area: article4;
}

#arti5 {
    grid-area: article5;
}

#arti6 {
    grid-area: article6;
}

#cartaGrande {
    grid-area: bigCard;
}

#formulario {
    grid-area: form;
}

#footerIndex {
    grid-area: footer;
}

/* --------------------------media querie responsive del index - para TABLET (768px) - */

@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .h1Style {
        display: inline;
        padding: 0 30px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 0.5px;
        color: whitesmoke;
        margin-bottom: -2px;
        font-weight: 900;
        font-size: 35px;
        line-height: 1;
    }

    nav ul {
        display: inline-block;
        margin: 3px;
        padding-left: 0;
    }

    #divPrincipal {
        grid-template-areas:
            "article1 article2"
            "article3 article4"
            "article5 article6"
            "form form"
            "footer footer";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    #cartaGrande {
        display: none;
    }

    .cardScale {
        transition: all 0.35s ease-in-out;
    }
    
    .cardScale:hover {
        transform: scale(1.03);
    }
    
}

/*----------------------------media querie responsive del index - para CELULAR (480px) - */

@media screen and (max-width: 480px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #divPrincipal {
        grid-template-areas:
            "article1"
            "article2"
            "article3"
            "article4"
            "article5"
            "article6"
            "form"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    #formulario h2 {
        font-size: 20px;
    }

    .aSizequeriemobile {
        font-size: 10px;
    }

    .cardScale {
        transition: all 0.35s ease-in-out;
    }
    
    .cardScale:hover {
        transform: scale(1.03);
    }
    
}


/*------------------------------------------- animacion carta grande */

.carta {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    margin: 40px auto;
    text-align: center;
    font-family: arial;
    background-color: white;
    height: 80%;
    border-radius: 8px;
}

.precioCard {
    color: black;
    font-size: 22px;
}

.carta button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.carta button:hover {
    opacity: 0.7;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
}

.h2Style {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: justify;
}

.korg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: relative;
    animation-name: animacionCarta;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

.korg button:hover {
    opacity: 0.7;
}

.widthImgKorg {
    width: 70%;
}

.cardScale {
    transition: all 0.35s ease-in-out;
}

.cardScale:hover {
    transform: scale(1.03);
}

/*----------------------------------------------------- footer */

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: #5B5B5B;
    font-family: 'Bebas Neue', cursive;
    font-size: small;
    letter-spacing: 1px;
}

footer a:hover {
    color: black;
}


/*---------------------------------- pagina "productos con bootstrap" */

.h2Produ {
    padding: 90px 0 60px 0;
}

.h2Contacto {
    padding: 60px 0 40px 0;
}

.img-modificada{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.container-modificado {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.anchors-modificados {
    text-decoration:none;
    color: #8f9296;
}

.card-shadow {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
}

.titulo-carta {
    margin: 8px 0;
}

.card-width {
    margin-top: 25px;
    width: 55%;
    height: 50%;
}

.divBotonCarrito {
    display: flex;
    justify-content: center;
}

.estiloBtn {
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
}

.estiloBtn:hover {
    background-color: #36383a;
}

.estiloBtn:visited {
    color: #000;
}

.botonContacto {
    width: 100%;
}

.cardSizer {
    width: 21rem;
}

.cardHorizontal {
    max-width: 540px;
}

.centrarCardTitle {
    display: flex;
    justify-content: center;
}

.paginacion nav ul li a {
    color: #000;
}

.paginacion:hover nav ul li a {
    color: #747171;
    cursor: pointer;
}

.paginacion nav ul li { 
    margin: 1px;
}

.paginacion nav ul {
    display: flex;
    justify-content: center;
    margin-left: 0;
}

.inputsMargin {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
}

.btn-size {
    margin-left: 15px;
}

.divFlex {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}


/* ------------------------------------carrusel de marcas con javaScript */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    width: 70%;
    height: 70%;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.imgCarruSize {
    width: 50%;
    height: 50%;
}

.margenDiv {
    margin: 20px 0 50px 0;
}

/* ------------------------------------------------ footer */


.distribucion-footer {
    background-color: #3a3d41;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 20px 30px;
}

.distribucion-footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/*------------------------------------------------- Footer links */

.distribucion-footer div.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.distribucion-footer div.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    margin: 3px;
}

.distribucion-footer div.footer-links a:hover {
    text-decoration: underline;
}

/* --------------------------------------------- formulario newsletter */

form {
    border: 4px solid #f1f1f1;
    margin-top: 10px;
}

.contenedorForm {
    padding-top: 0;
    padding-bottom: 10px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Los corchetes se usan para seleccionar todos los elementos que tienen un determinado valor de atributo */
/* Aqui seleccionamos todos los "inputs" que poseen los atributos type="text" y type="submit" */

input[type=text],
input[type=button] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

input[type=button]:hover {
    opacity: 0.8;
}

/*------------------------------------------- pagina "contacto" */

.tipografiaLista {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300px;
    margin-left: 10px;
}

div h2 {
    margin: 0;
    padding-top: 10px;
}

div h3 {
    font-size: 20px;
}


/*------------------------------------------- datos de contacto */

.iconSize {
    width: 50px;
    height: 40px;
    padding-right: 10px;
}

.alinearDatosContacto {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.alinearDatosContacto p {
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#h3Contacto {
    font-family: 'Mukta', sans-serif;
    margin: 0 0 10px 0;
}

.divDatosContacto {
    margin: 20px 0 0 50px;
}

/*------------------------ media querie pagina contacto - para TABLET 768px */

@media screen and (max-width: 768px) {
    #formulario {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
    }

    #formContacto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -22px;
        margin-bottom: 15px;
    }

    .centrarMapa {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 80%;
    }

    #iframeContacto {
        width: 100%;
        margin: 10px;
    }

    .divDatosContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 0;
    }

    .alinearDatosContacto {
        margin: 2px 0;
    }

}

/* media querie pagina contacto - para CELULAR 480px */

@media screen and (max-width: 480px) {
    #h3Contacto {
        font-size: 17px;
    }

    .alinearDatosContacto p {
        font-size: 17px;
    }

    .aSizequeriemobile {
        font-size: 10px;
    }
}




